:root {

            --primary-text-color: #757575;
            --title-text-color: #212121;
            --accent-color: #2196F3;
            --white-color: #FFFFFF;
            --background-color: #2F303A;
            --second-background-color: #F5F4FA;
            --svg-color: #AFB1B8;
            --card-set-gap: 30px;
}
html {
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
body{
    color: var(--primary-text-color);
    background-color: var(--white-color);
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
p{
    margin: 0px;
    line-height: 1.71;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.whatwedo.section {
    padding-top: 0px;
}
.hero.section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*                                                  HEADER SECTION */
.header-wrap {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header {
    height: 80px;
    display: flex;
}
.header-border {
    border-bottom: 1px solid #ECECEC;
    height: 80px;
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
}
.header-navigation .logo-header {
    margin-right: 93px;
}
.header-description {
    display: flex;
    margin: 0px;
    list-style-type: none;
    font-weight: 500;
}
.header-description .header-item + .header-item {
    margin-left: 50px;
}

.header-contact {
    display: flex;
    margin-left: auto;
}
.header-contact :not(:last-child) {
    margin-right: 50px;
}
.header-contact :first-child {
    margin-right: 10px;
}
.logo-header, .logo-footer{
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    font-family: Raleway, sans-serif;
}
:current(.link-curent) {
    color: var(--accent-color);
}
.link-curent{
    color: var(--accent-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio {
    color: var(--title-text-color);
}

.header-description :hover {
    color: var(--accent-color);
}
.header-description :focus{
    color: var(--accent-color);
}
.header-item {
    letter-spacing: 0.02em;
    line-height: 1.14;
}
.header-link {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-contact {
    list-style-type: none;
    font-weight: 500;
}
.header-contact :focus {
    color: var(--accent-color);
}
.contact-link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.contact-link:hover,
.contact-link:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
}

/*                                       FOOTER*/
.footer {
    background-color:var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-wrap {
    display: flex;
    align-items: baseline;
}
.logo-footer {
    padding-bottom: 0px;
}
.logo-footer-studio {
    color: var(--white-color);
}
.footer-descraption {
    list-style-type: none;
    margin: 0px;
    width: 231px;
    padding-left: 0px;
}
.contact {
    margin-top: 20px;
    line-height: 1.714;
}
.footer-link {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}
.footer-item {
    margin-bottom: 9px;
}
.footer-descraption :last-child {
    margin-bottom: 0px;
}
.footer-item :hover {
    color: var(--accent-color);
}
.footer-item :focus {
    color: var(--accent-color);
}
.adress-footer {
    color: var(--white-color);
}
.invite-wraper {
    margin-left: 70px;
}
.invite-titel {
    color: var(--white-color);
    font-style: normal;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}
.bg-icon {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.white {
    fill: var(--white-color);
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!STUDIO PAGE!!!!!!!!!!!!!!!!!!!!!*/
/*                                      HERO SECTION                 */
.hero{
    text-align: center;
    background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-color: var(--background-color);
}
.hero-titel {
    text-align: center;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-transform: uppercase;
}
.hero-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: hidden;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
/*                    ABOUT US SECTION                    */

.about-desription, .typeofproduct-item, .whatwedo-list, .ourteam-list {
    list-style-type: none;
}
.about-desription {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.about-desription :not(:last-child) {
    margin-right: 30px;
}
.about-desription :last-child {
    margin-left: auto;
}
.about-item.wrap {
    width: 270px;
    height: 120px;
    padding-top: 25px;
    padding-left: 100px;
    margin-bottom: 30px;
    background-color: var(--second-background-color);
    border-radius: 4px;
}
.about-list {
    width: 270px;
    margin: 0px;
}
.about-titel {
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.14;
}
.about-paragraph {
    margin: 0px;
}

.whatwedo-description {
    display: flex;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}
.whatwedo-list {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
}
.ourteam {
    background-color: var(--second-background-color);
}
.ourteam-descraption {
    display: flex;
    margin: 0px;
    padding-left: 0px;
    gap: 30px;
}
.ourteam-wrap-item {
    width: 270px;
    background-color: var(--white-color);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
}

.ourteam-titel, .whatwedo-titel {
    font-weight: 700;
    font-size: 36px;
    margin: 0px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
.ourteam-name {
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.18;
}
.ourteam-paragraph {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}
.social-description {
    display: flex;
    justify-content: center;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    fill: var(--svg-color);
    border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
    background-color: #2196F3;
    fill: #FFFFFF;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-description li+li {
    margin-left: 10px;
}

.social-icon {
    width: 20px;
    height: 20px;
    color: currentColor;
}

.about-titel, .whatwedo-titel, .typeofproduct-item,.exampleofproduct-titel, .ourteam-titel, .ourteam-name {
    color: var(--title-text-color);
}
/* Regular-customers Section*/
.customers.container {
    text-align: center;
}
.customers-titel {
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.customers-description {
    display: flex;
    justify-content: space-between;
}
.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: var(--svg-color);
    border-radius: 4px;
    border: 1px solid var(--svg-color);
}
.customers-link:hover,
.customers-link:focus {
    border: 1px solid #2196F3;
    fill: var(--accent-color);
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!! PORTFOLIO PAGE!!!!!!!!!!*/
/*                                                TYPE OF PRODUCT SECTION*/

.typeofproduct-description {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.typeofproduct-item {
    margin-right: 8px;
}
.typeofproduct-description :last-child{
    margin-right: 0px;
}
.typeofproduct-item :hover , .typeofproduct-item :focus{
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.typeofproduct-item :focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.typeofproduct-button {
    padding: 6px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Roboto;
    background: var(--second-background-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border-style: hidden;
    line-height: 1.59;
    letter-spacing: 0.03em;
}
.exampleofproduct-descraption {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
    list-style-type: none;
    box-sizing: border-box;
}
.shadow-wraper {
    color: var(--primary-text-color);
    display: block;
}
.shadow-wraper:hover,
.shadow-wraper:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.exampleofproduct-item {
    flex-basis: calc( 100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
}

.exampleofproduct-titel{
margin-bottom: 4px;
line-height: 2.2;
font-size: 18px;
font-weight: 700;
letter-spacing: 0.06em;
}
.exampleofproduct-paragraph {
    font-size: 16px;
    line-height: 1.9 ;
    color: var(--primary-text-color);
}
.card-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #EEEEEE;
}
